body {
  background-color: #c5e2ef;
}
.header {
  /* background-color: #2975d1; Dark blue header */
  color: #2975d1;
  text-align: center;
  border-radius: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
